---

- name: install gatling
  apt: name=gatling state=installed update_cache=yes

#- name: assure gatling is runnnig
  #service: name=gatling enabled=yes state=started

#- name: install systemd launcher
  #template: src=gatling.service dest=/etc/systemd/system/multi-user.target.wants/gatling.service

- name: configure gatling
  template: src=gatling-default dest=/etc/default/gatling

- name: deploy static files
  copy: src=static dest=/srv

- name: assert gatling is started
  service: name=gatling state=restarted enabled=yes

#- name: restart machine to ensure startup 
  #shell: sleep 2 && shutdown -r now "Ansible will reboot"
  #async: 1
  #poll: 0
  #ignore_errors: true

#- name: waiting for server to come back
  #local_action: wait_for host={{ inventory_hostname }} state=started delay=5 timeout=300
