---

- include: playbook.yml
  vars:
    balancers:
        - name: balancer1
          ip: 10.0.0.10
          hostport: 8080
        - name: balancer2
          ip: 10.0.0.11
          hostport: 8090
    appservers:
        - name: appserver1
          ip: 10.0.0.20
        - name: appserver2
          ip: 10.0.0.21
    static:
        - name: static1
          ip: 10.0.0.30
        - name: static2
          ip: 10.0.0.31
    logservers:
        - name: logserver1
          ip: 10.0.0.100
          port: 514
