---

- name: install haproxy
  apt: name={{item}} state=installed update_cache=yes
  with_items:
  - haproxy

- name: deploy haproxy configuration
  template: src=haproxy.cfg dest=/etc/haproxy/haproxy.cfg

- name: assert haproxy was started correctly
  service: name=haproxy state=started enabled=yes
